<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Portifólio - Kaike Caboclo</title>
</head>
<body>
    <h1>Kaike Caboclo</h1>
    <h2>Introdução</h2>
    <h2>Currículo</h2>
    <h2>Projetos</h2>
    <h2>Habilidades</h2>
    <h2>Documentos e Trabalhos</h2>
    <h2>Certificações</h2>
    <h2>Contato</h2>
</body>
</html>







<!--o Introdução: Breve apresentação sobre você, seus objetivos acadêmicos e o que está buscando com o portfólio.

o Currículo: Resumo de sua formação, cursos e certificações.

o Projetos: Destaque os principais projetos acadêmicos, explicando o problema, sua abordagem, tecnologias utilizadas e os resultados.

o Habilidades: Liste suas principais habilidades técnicas e teóricas (Soft Skills).

o Documentos e Trabalhos: Adicione artigos, TCCs, trabalhos de pesquisa ou relatórios relevantes.

o Certificações: Inclua imagens ou PDFs de certificados obtidos em cursos ou eventos relevantes.

o Contato: Finalize com seus dados de contato, links para LinkedIn, GitHub ou outro canal relevante.-->